.section-photos{
    width: 100%;
    border-radius: 15px;
    background-color: var(--blue);
}

.secetion-title{
    margin-bottom: 10px;
    font-size: 2rem;
    padding: 0 35px;
}

.photos-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 285px);
    justify-content: center;
    gap: 29;
}

.photos{
    width: 100%;
    height: auto;
    text-align: center;
}

.photos img {
    width: 100%;
    height: 258px;
    border-radius: 15px;
}